.home{
    background:color($colors,primary);
    color:color($colors,light);
    margin-top:30px;
}

.toolbar-title{
    text-align: center
}

tabs-md  .tab-button-icon{
    color:#ccc
}

.temp{
    font-size: 70px;
    text-align: center;
    font-weight: normal;
}

.location, .temp, .desc{
    text-align: center;
}

.location{
    font-size: 30px;
}

.desc{
    font-size: 20px;
}